/.idea
/.gradle
/*.iml
/gradle
/gradlew
/gradlew.bat
/gradle.properties
/local.properties

/MPChartLib/*.iml
/MPChartLib/build 

/app/apk
/app/build
/app/*.iml

/devring/build
/devring/*.iml

/lib_common/build
/lib_common/*.iml

/sobotsdk/build
/sobotsdk/*.iml
